.header {
   grid-area: header;
   background-color: #4a76a8;
   position: fixed;
   width: 100%;
   height: 45px;
   left: 0;
   top: 0;
}
.body {
   display: flex;
   align-items: center;
   height: 45px;
}
.logo {
   max-width: 38px;
   margin: 0px 0px 0px 30px;
}
.logo img {
   max-width: 100%;
   border-radius: 50%;
}