.message_item{
   margin: 0px 0px 40px 0px;
   display: grid;
   grid-template-columns: 1fr 8fr;
}
.message_text {
   display: flex;
   align-items: center;
   background-color:#edeef0;
   min-height: 20px;
   padding: 15px;
   border-radius: 20px;
}
.message_user {
   border: 1px solid #edeef0;
   border-radius: 50%;
   width: 23px;
   height: 23px;
   margin: 0px 15px 0px 0px;
}
.message_user img {
   border-radius: 50%;
   max-width: 100%;
}
.message_user_name {
   margin-top: 8px;
   font-weight: 500;
   padding: 0px 0px 0px 0px;
}